.navbar {
  background-color: #324044;
  .navbar-brand {
    font-size: 30px;
    .brand-first-name {
      color: #86d2bf;
    }
  }
  .nav-cart-btn {
    .cart-img {
      width: 20px;
    }
    border: 1px solid white;
    padding: 5px 20px;
    transition: all 0.3s;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
