<!-- ============ Nav ============ -->
<!-- <div class="nav-header-container"> -->

<!-- ============ Header ============ -->
<!-- <header class="header text-light d-flex  flex-column  justify-content-center  ">
      <div class="container  ">
        <h1 class="mb-4">Book Store</h1>
        <h2>All Your <span class="text-dark ">Books</span> in one place</h2>
      </div>
    </header> -->
<!-- </div> -->

<main class="all-books-container container pb-5">
  <h3 class="my-4">All Books: </h3>
  <div class="row books-row">
    <!-- ================ -->
    @for (book of booksData; track book.id) {
    <div class="col-sm-6  col-md-4 col-lg-3 mt-4">
      <div class="card text-center p-3 pt-4 h-100">
        <div class="card-image__container">
          <img [src]="(book.coverPhoto)" class="card-img-top" alt="...">
        </div>
        <div class="card-body d-grid ">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text">{{book.author}}</p>
          <div class="d-flex justify-content-around align-items-center ">
            @if (!checkIsBookInCart(book.id)) {
            <button href="#" class="btn btn-success   cart-btn" (click)="addToCart(book)">
              <img src="assets/imgs/cart.svg" alt="">

            </button>
            }@else {
            <button href="#" class="btn btn-secondary  cart-btn" (click)="removeFromCart(book.id)">
              X </button>
            }
            <p class="price d-flex my-0 align-items-center ">{{book.price}} EGP</p>
          </div>
        </div>
      </div>
    </div>
    }
    <!-- ================ -->
  </div>
</main>